{{outlet}}

<form {{action "create" on="submit"}}>
  <div class="form-group">
    <label for="name">Name</label>
    {{input type="text" class="form-control" value=newName}}
  </div>
  <div class="form-group">
    <label for="netid">NetID</label>
    {{input type="text" class="form-control" value=newNetId}}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  {{#link-to 'students.index' tagName='button' class='btn btn-default'}}Close{{/link-to}}
</form>

